extends layout

block content
  h1= title
  p Rows = #{query.rows} and Columns = #{query.cols}
    -
     rows= Number(query.rows)
      col= Number(query.cols)
    if !Number.isInteger(rows)
        p The given  rows are not in correct
    else if !Number.isInteger(col)
        p The given  columns are not in correct
    else if rows < 1 || rows > 10
        p The given rows are  not in one to ten range 
    else if col < 1 || col > 10
        p The given  colums are  not in one to ten range
    else
       table           
            - for(let i=0; i<rows; i++) {
               tr#middle
                 - for(let j=0; j<col; j++) {
                     td= 1+i+j*rows
                     td=" "
                     td=" "
                     td=" "
                 -}              
            - }